
// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before
  box-sizing: inherit

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px: 1.6rem = 16px
html
  box-sizing: border-box
  font-size: 62.5%
  overflow-x: hidden

// Default body styles
body
  color: $color-secondary
  // font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  font-family: "League Spartan"
  font-size: 1.6em // Currently ems cause chrome bug misinterpreting rems on body element
  font-weight: 300
  // letter-spacing: .01em
  min-height: 100vh
  overflow-x: hidden
  line-height: 1.6
  margin: 0

.wagtail-userbar-reset
  position: absolute !important


@mixin transition($args)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args
