
// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit']
  background-color: $color-primary
  // border: .1rem solid $color-primary
  border: none
  border-radius: .4rem
  color: $color-initial
  cursor: pointer
  display: inline-block
  font-size: 1.25rem
  font-weight: 700
  height: 4rem
  letter-spacing: .05rem
  line-height: 4rem
  padding: 0 3rem
  text-align: center
  text-decoration: none
  text-transform: uppercase
  white-space: nowrap
  @include transition (background .15s ease-in-out)

  &.reverse
    background-color: $color-quaternary
    
    &:hover,
    &:focus
      // background-color: $color-primary
      background-color: $color-quinary
      color: $color-initial

  &:focus,
  &:hover
    // background-color: $color-secondary
    background-color: $color-quaternary
    // border-color: $color-secondary
    color: $color-initial
    outline: 0

  &[disabled]
    cursor: default
    opacity: .5

    &:focus,
    &:hover
      background-color: $color-primary
      border-color: $color-primary

  &.button-outline
    background-color: transparent
    color: $color-primary

    &:focus,
    &:hover
      background-color: transparent
      border-color: $color-secondary
      color: $color-secondary

    &[disabled]

      &:focus,
      &:hover
        border-color: inherit
        color: $color-primary

  &.button-clear
    background-color: transparent
    border-color: transparent
    color: $color-primary

    &:focus,
    &:hover
      background-color: transparent
      border-color: transparent
      color: $color-secondary

    &[disabled]

      &:focus,
      &:hover
        color: $color-primary
