
// Typography for Centralia Square
// ––––––––––––––––––––––––––––––––––––––––––––––––––
b,
strong
  font-weight: bold

p
  margin-top: 0

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: 300
  margin-bottom: 1.5rem
  margin-top: 0
  font-family: 'Prata', serif;

  &.text-1.5
    font-size: 1.5rem

  &.text-2
    font-size: 2rem
  
  &.text-3
  font-size: 3rem

  &.text-4
    font-size: 4rem

  &.text-5
    font-size: 5rem

  &.text-6
    font-size: 6rem

  &.text-7
    font-size: 7rem

  &.text-8
    font-size: 8rem
    line-height: 1

h1
  font-size: 4.6rem
  line-height: 1.2

h2
  font-size: 3.6rem
  line-height: 1.25

h3
  font-size: 2.8rem
  line-height: 1.3

h4
  font-size: 2.2rem
  line-height: 1.35

h5
  font-size: 1.8rem
  line-height: 1.5

h6
  font-size: 1.6rem
  line-height: 1.4

//Helpers
.text-center
  text-align: center

@media (max-width: 768px)
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    font-weight: 300
    margin-bottom: 2.0rem
    margin-top: 0
    
    &.text-1.5
      font-size: 1.5rem

    &.text-2
      font-size: 2rem
    
    &.text-3
    font-size: 3rem

    &.text-4
      font-size: 3.5rem

    &.text-5
      font-size: 4rem

    &.text-6
      font-size: 4.5rem

    &.text-7
      font-size: 5rem

    &.text-8
      font-size: 6rem
      line-height: 1