
// Color for Centralia Square
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$color-initial: #fff !default
$color-primary: #333333 !default
$color-secondary: #333333 !default
$color-tertiary: #f4f0de !default
$color-quaternary: #ff715b !default
$color-quinary: #71706e !default
$color-quaternary-hover: #f98877 !default

.has-background-initial
    background: $color-initial

.has-background-primary
    background: $color-primary

.has-background-secondary
    background: $color-secondary
    
.has-background-tertiary
    background: $color-tertiary

.has-background-quaternary
    background: $color-quaternary

.has-background-quinary
    background: $color-quinary

.has-color-initial
    color: $color-initial

.has-color-secondary
    color: $color-secondary

.has-color-tertiary
    color: $color-tertiary

.has-color-quaternary
    color: $color-quaternary

.has-color-quinary
    color: $color-quinary




