
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$color-initial: #fff !default
$color-primary: #36373a !default
$color-secondary: #333333 !default
$color-tertiary: #f4f0de !default
$color-quinary: #71706e !default
$color-quaternary: #ddaa58 !default
$color-quaternary-hover: #e2b66f !default


.has-background-primary
    background: $color-primary
    
.has-background-tertiary
    background: $color-tertiary

.has-background-quaternary
    background: $color-quaternary

.has-background-quinary
    background: $color-quinary

.has-color-initial
    color: $color-initial

.has-color-tertiary
    color: $color-tertiary

.has-color-quaternary
    color: $color-quaternary



