//Global Styles
//Pricing Table
.pricing-table
    margin-top: 4rem
    // margin-bottom: 6rem
    // margin-top: 2rem

    caption
        text-align: left
        font-size: 3.5rem
        padding: 0 1rem
        margin-bottom: 1.5rem

    th
        background: $color-quinary
        color: $color-initial
        padding-bottom: .5rem