
// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a
  color: $color-primary
  text-decoration: none
  cursor: pointer
  @include transition (color .15s ease-in-out)

  &:focus,
  &:hover
    color: $color-secondary
