.menu-overlay
    @include transition(all .35s ease-in-out )
    height: 100vh
    position: fixed
    background: rgba(0,0,0, 0)
    visibility: hidden
    width: 100%
    top: 0
    left: 0
    z-index: 2

.navbar
    padding: 0 4rem
    z-index: 3
    display: flex 
    height: 8rem
    align-items: center
    position: relative

    .logo
        position: absolute

        h3
            margin-bottom: .5rem
            margin-right: 4rem
            margin-top: .75rem
            font-size: 5rem
            color: $color-tertiary           
            line-height: .75

        p
            margin-bottom: 0
            line-height: 1
            font-family: "League Spartan"
            font-size: 1.5rem
            text-transform: uppercase
        
        a
            color: $color-quaternary
            // margin-left: .5rem   

    a
        color: $color-quaternary
        font-family: "League Spartan"
        text-transform: uppercase
        font-weight: bold
        letter-spacing: 1px

        &:hover
            color: $color-tertiary
    
    .menu-wrap
        @include transition (all .35s ease-in-out)
        margin: 0 auto

.social
    min-width: 6rem
    position: absolute
    right: 3rem
    top: 3rem
    
    i
        font-size: 2rem

ul
    margin: 0 auto

    &.menu
        margin-bottom: 0

        li
            display: inline-block
            margin-bottom: 0
            margin-right: 1rem
            position: relative

            &:hover
                .sub-menu
                    display: block  
                    background: $color-tertiary  

        .sub-menu
            margin-left: 0
            display: none
            position: absolute
            top: 1rem
            padding: 1.25rem 1.5rem
            min-width: 18rem

            li
                margin-right: 0
                margin-bottom: .25rem
                display: block

                a
                    color: $color-secondary

                    &:hover
                        color: $color-quaternary

footer

    ul
        &.menu.footer
            display: flex
            justify-content: space-evenly


            li
                display: block

                &.has-children
                    &:hover
                        .sub-menu
                            background: initial
                           

            .sub-menu
                display: block
                margin-top: .5rem
                padding-left: 0
                margin-left: .75rem
                
                li
                    a
                        color: $color-quaternary

                        &:hover
                            color: $color-initial


    .social-footer
        i
            font-size: 2rem

    a
        color: $color-quaternary

        &:hover
            color: $color-tertiary

@media (min-width: 769px)
    footer
        min-height: 20rem

@media (max-width: 768px)

    footer
        min-height: 30rem

    html
        &.open
            overflow-y: hidden

    body
        &.open
            overflow-y: hidden
            .menu-wrap
                transform: translateX(0)

            .menu-overlay
                visibility: visible
                background: rgba(0,0,0, .65)


            .bar

                &.one
                    transform: rotate(45deg) translate(3px, 7px)

                &.two
                    visibility: hidden

                &.three
                    transform: rotate(-45deg) translate(3px, -6px)

    .navbar 
        a
            color: $color-primary
            font-size: 1.75rem

            &:hover
                color: $color-quaternary

           

    .hamburger
        width: 3rem
        height: 2rem
        margin-bottom: 1rem
        margin-top: 1rem
        margin-left: auto
        cursor: pointer
        position: relative
        z-index: 4

        .bar
            @include transition(all .35s ease-in-out)
            width: 100%
            background: $color-quaternary
            height: 2px
            margin-bottom: .5rem

            &.two
                transition: none

    .menu-wrap
        position: absolute
        top: 0;
        right: 0
        height: 100vh
        width: 75%
        min-width: 250px
        padding: 5rem 2rem 
        background: #ffffff
        z-index: 2
        transform: translateX(100%)

        .social
            position: relative
            margin-top: 1rem
            right: auto
            top: auto

            ul
                li
                    display: inline-block
        
        ul
            .sub-menu
                margin-top: 0
                margin-bottom: 0
                top: 0
                position: relative
                display: block

            li
                display: block
                margin-bottom: 1rem
            
                &.has-children
                    &:hover
                        .sub-menu
                            background: initial

     