@media (max-width: 640px)
    .container
        &.mobile-padding-4x
            padding-top: 4rem
            padding-bottom: 4rem

        
        .row
            &.mobile-column-reverse
                flex-direction: column-reverse !important 

            .column 
                padding: 1rem

                &.no-padding
                    padding: 0