// Pages styles

.hero
    img
        display: block
        
.amenities
    ul
        margin-left: 2rem
        li
            p
                margin-left: 3rem
                margin-bottom: 0
    
    h3
        padding: .5rem 1rem
        font-size: 2.5rem
    