
// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Clear a float with .clearfix
.clearfix

  &:after
    clear: both
    content: ' ' // The space content is one way to avoid an Opera bug.
    display: table

// Float either direction
.float-left
  float: left

.float-right
  float: right

.no-padding
  padding: 0

.no-padding-left
  padding-left: 0

.no-padding-right
  padding-right: 0

.padding-1
  padding: 1rem

.padding-2
  padding: 2rem

.padding-3
  padding: 3rem

.padding-4
  padding: 4rem

.no-margin-bottom
  margin-bottom: 0

.height-100
  height: 100%


.hide
  visibility: hidden
  // transform: translateY(-10px)

.show
  visibility: visible
  transform: none

.delay25
  animation-delay: .25s

.delay5
  animation-delay: .5s

.vert-center-wrap
  height: 100%
  display: flex !important
  align-items: center

.height-100
  height: 100%

// .vert-center
//   position: absolute
//   top: 50%
//   left: 50%
//   transform: translate(-50%, -50%)
