// Styles for Centralia Square site

@import _CentraliaColor
@import _Base
@import _Blockquote
@import _Button
@import _Code
@import _Divider
@import _Form
@import _Grid
@import _Link
@import _List
@import _Spacing
@import _Table
@import _Typography
@import _CentraliaTypography.sass
@import _Menu
@import _Image
@import _Utility
@import _Pages
@import _Padding
@import _Global


.button
    filter: drop-shadow(2px 2px 3px #222)

.slider
    position: relative

    .banner-text
        position: absolute
        top: 50%
        right: -27%
        color: $color-quaternary

.box
    border: 2px solid
    padding: 2rem

.hero
    padding-top: 8rem
    padding-bottom: 8rem
    position: relative
    margin: auto 0

    .overlay
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: rgba(0,0,0,.35)
        z-index: 1

    &.no-padding
        padding: 0

    .inner-content
        padding: 4rem
        position: absolute
        z-index: 1
        bottom: 6rem
        left: 0
        right: 0
        margin: 0 auto
        max-width: 112rem

        h1
            margin-bottom: 1rem

    .slider-inner
        height: calc(100vh - 8rem)
        background-size: cover !important
        background-position: 50% 50% !important

    .hero-overlay
        position: absolute
        z-index: 1
        left: 50%
        top: 60%
        text-align: center
        width: 80%
        transform: translate(-50%, -25%)

        h3
            color: $color-initial
            filter: drop-shadow(2px 4px 6px #717171);

        p
            line-height:  1.5em
            color: #ececec
            font-family: "League Spartan"
            font-size: 1.75rem

.promo-box
    .promo-wrap
        margin-bottom: 1rem
        background: $color-quaternary
        color: $color-initial
        filter: drop-shadow(2px 2px 3px #222)

        .button
            background: $color-initial
            color: $color-quaternary

    h4
        font-size: 1.5rem

    p
        font-family: "League Spartan"

.img-wrap
    overflow: hidden
    img
        display: block
        @include transition (transform .35s ease-in-out)
        
           

.three-column-block

    .left-column
        img
            width: 50%
            margin-bottom: 2.5rem

        h2
            margin-bottom: 2.5rem
            color: $color-initial

    h3
        @include transition (all .35s ease-in-out)
        margin-top: 1.5rem
        display: inline-block
        position: relative

        &:before
            content: ""
            position: absolute
            width: 100%
            height: 1px
            bottom: -1px
            left: 0
            background: $color-initial
            visibility: hidden
            @include transition (all .35s ease-in-out)
            transform: scaleX(0)


    a
        display: block
        &:hover
            img
                transform: scale(1.1)
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden
                -webkit-backface-visibility: hidden

            h3 
                &:before
                    visibility: visible
                    transform: scaleX(1)


.overlap
    position: relative
    z-index: 1
    padding: 6% 4% !important;
    text-align: center

    .button
        &.has-background-initial
            background: $color-initial
            color: $color-quaternary

            &:hover
                background: #fdd7d1

    h3
        margin-bottom: 2rem

    p
        margin-bottom: 4rem

//Room Page
.gallery-wrapper
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))
    grid-gap: 1rem

.image-wrapper
    overflow: hidden 
    background: #000

    img
        @include transition (all .35s ease-in-out)
        display: block

    &:hover
        img 
            transform: scale(1.025)
            opacity: .8

.amenities
    h3
        font-family: "League Spartan"
        font-weight: 500
        font-size: 2.5rem
        line-height: 1.25
        padding-top: .5rem

//Room index page
.rooms
    display: grid 
    gap: 1rem
    grid-template-columns: repeat(5, 1fr)

    img
        display: block
   
.room
    position: relative
    grid-column: auto / span 2

    .overlay
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: rgba(0,0,0,.25)
        z-index: 0

    img
        display: block

    &:nth-child(1)
        grid-column: auto / span 3
        grid-row: auto / span 2
        padding-bottom: 100%

        h2
            font-size: 6rem
            
    .inner-content
        position: absolute
        bottom: 3rem
        left: 3rem
        right: 0
        margin: 0 auto

    h2
        z-index: 1
        font-size: 4rem
        color: $color-initial
        margin-bottom: 1rem

.img-wrap
    filter: drop-shadow(2px 2px 3px #222)
        
.navbar
    height: 7rem
    background: $color-initial

    a
        &:hover
            color: $color-quaternary-hover

    .menu
        &.main
            a::before
                content: ""
                position: absolute
                width: 0
                height: 2px
                bottom: 0
                left: 0
                background: $color-quaternary-hover
                @include transition (all .35s ease-in-out)

    .menu
        &.main
            a:hover
                &::before
                    width: 100%
            

    .logo
        img
            width: 22rem
            display: block

    .social
        top: 2rem

        a
            &:hover
                color: #fff

                i
                    background: $color-quaternary

        i
            padding: .5rem .5rem .5rem .5rem
            width: 4rem
            text-align: center
            border-radius: 1rem
            background: #fff
            filter: drop-shadow(3px 3px 2px #bbb)

.container
    &.info
        .has-background-primary
            background: $color-initial

    &.stripe
        background: $color-quaternary
        color: $color-initial

        .column-66
            padding-right: 0

        img
            filter: drop-shadow(2px 2px 3px #222)

        .overlap
            left: -7%

    &.no-stripe
        .overlap
            right: -7%
            filter: drop-shadow(2px 2px 3px #222)
        img
            filter: drop-shadow(2px 2px 3px #222)

@media (min-width: 1025px)
    .overlap
        min-height: 60vh

    .hero
        .hero-overlay
            min-width: 550px
            width: 40%

@media (max-width: 1024px)
    .container
        &.no-stripe 
            .overlap
                right: 0
                margin-right: 6%;

        &.stripe
            .overlap
                left: 0
                margin-right: 6%

@media (max-width: 769px)
    .container
        .row
            &.row.row-reverse
                flex-direction: row

@media (max-width: 768px)
    .container
        &.no-stripe, &.stripe 
            .overlap
                display: block
                max-width: 40%
                flex: 0 0 40%
                margin: 0 auto

            .image
                max-width: 53%
                flex: 0 0 53%

        &.three-column-block
            .column
                max-width: 50%
                flex: 0 0 50%
                
//Room Block
@media (max-width: 640px)
    .container 
        &.info
            .row 
                .image
                    margin-bottom: 1rem

        &.no-stripe, &.stripe 
            .overlap
                display: block
                max-width: 100%
                flex: 0 0 100%

            .image
                max-width: 100%
                flex: 0 0 100%

        &.three-column-block
            .column
                max-width: 100%
                flex: 0 0 100%
