//Shared styles across all sites

@import _Color
@import _Base
@import _Blockquote
@import _Button
@import _Code
@import _Divider
@import _Form
@import _Grid
@import _Link
@import _List
@import _Spacing
@import _Table
@import _Typography
@import _Menu
@import _Image
@import _Utility
@import _Pages
@import _Padding


.slider
    position: relative

    .banner-text
        position: absolute
        top: 50%
        right: -27%
        color: $color-quaternary

.box
    border: 2px solid
    padding: 2rem

.hero
    padding-top: 8rem
    padding-bottom: 8rem
    position: relative
    margin: auto 0

    &.no-padding
        padding: 0

    .inner-content
        position: absolute
        z-index: 1
        bottom: 6%
        left: 6%
        right: 6%
        margin: 0 auto
        max-width: 112rem

        h1
            margin-bottom: 1rem

    .slider-inner
        height: calc(100vh - 8rem)
        background-size: cover !important
        background-position: 50% 50% !important

    .hero-overlay
        position: absolute
        z-index: 1
        left: 0
        background: rgba(188, 85, 78, 0.75)
        bottom: 25%
        width: 50%
        text-align: center
        padding: 4rem 6rem

        h3
            line-height: 1

        p
            margin-bottom: 0
            line-height: 1
            font-family: "League Spartan"
            font-size: 2rem
            font-weight: 200

.promo-box

    .promo-wrap
        margin-bottom: 1rem

    h4
        font-family: "League Spartan"
        font-size: 2rem

.img-wrap
    overflow: hidden
    img
        display: block
        @include transition (transform .35s ease-in-out)
        
           

.three-column-block

    .left-column
        img
            width: 50%

    h3
        @include transition (all .35s ease-in-out)
        margin-top: 1rem
        display: inline-block
        position: relative

        &:before
            content: ""
            position: absolute
            width: 100%
            height: 2px
            bottom: 0
            left: 0
            background: $color-tertiary
            visibility: hidden
            @include transition (all .35s ease-in-out)
            transform: scaleX(0)


    a
        display: block
        &:hover
            img
                transform: scale(1.1)
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden
                -webkit-backface-visibility: hidden

            h3 
                &:before
                    visibility: visible
                    transform: scaleX(1)


//Room Page
.gallery-wrapper
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))
    grid-gap: 1rem

.image-wrapper
    overflow: hidden 
    background: #000

    img
        @include transition (all .35s ease-in-out)
        display: block

    &:hover
        img 
            transform: scale(1.025)
            opacity: .8

//Room index page
.rooms
    display: grid 
    gap: 1rem
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    img
        display: block
   
.room
    position: relative
    grid-column: auto / span 2
    padding-bottom: calc(50% - 1rem)

    img
        display: block

    &:nth-child(1)
        grid-column: auto / span 3
        grid-row: auto / span 2
        height: 0
        padding-bottom: 75%
            
    .inner-content
        position: absolute
        bottom: 2%
        left: 6%
        right: 0
        margin: 0 auto

    h2
        z-index: 1
        color: $color-initial
        margin-bottom: 1rem
        

//Room Block
@media (max-width: 640px)
    .container 
        &.info
            .row 
                .image
                    padding: 2rem
                    max-width: 90%
                    margin-bottom: 1rem
