// Styles for Centralia Square Annex site

@import _Color
@import _Base
@import _Blockquote
@import _Button
@import _Code
@import _Divider
@import _Form
@import _Grid
@import _Link
@import _List
@import _Spacing
@import _Table
@import _Typography
@import _Menu
@import _Image
@import _Utility
@import _Pages
@import _Padding
@import _Global


.not-home
    .hero
        .slider-inner
            height: calc(60vh)
            min-height: 250px


//Basic Page
.richtext
    a
        color: $color-quaternary
        text-decoration: underline

    a:hover
        color: $color-primary

//CONTACT PAGE
.contact-wrap
    margin-bottom: 2rem

.alert
    background: #6bd6e6
    padding: 2rem 2rem 2rem 2rem
    position: relative
    margin-bottom: 2rem

    #close
        position: absolute
        right: 2rem
        top: 1rem
        font-size: 2rem
        cursor: pointer
    p
        margin-bottom: 0

.slider
    position: relative

    .banner-text
        position: absolute
        top: 50%
        right: -27%
        color: $color-quaternary

.box
    border: 2px solid
    padding: 2rem

.hero
    padding-top: 8rem
    padding-bottom: 8rem
    position: relative
    margin: auto 0

    .overlay
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: rgba(0,0,0,.25)
        z-index: 1

    &.no-padding
        padding: 0

    .inner-content
        position: absolute
        z-index: 1
        bottom: 6%
        left: 0
        right: 0
        margin: 0 auto
        max-width: 112rem
        padding: 0 4rem

        h1
            margin-bottom: 1rem
            filter: drop-shadow(2px 2px 2px #000);

        p
            filter: drop-shadow(2px 2px 2px #000) 
            font-size: 1.85rem


    .slider-inner
        height: calc(100vh - 8rem)
        background-size: cover !important
        background-position: 50% 50% !important

    .hero-overlay
        position: absolute
        z-index: 1
        left: 0
        width: 95%
        left: 50%
        top: 70%
        transform: translate(-50%, -30%)
        text-align: center
        padding: 0

        h1
            margin-bottom: 1.25rem
            filter: drop-shadow(2px 2px 2px #000);

        h3
            margin-bottom: 1.25rem
            line-height: 1

        p
            margin-bottom: 0
            line-height: 1
            font-family: "League Spartan"
            font-size: 2.15rem
            font-weight: 200
            color: #a5a6a2
            filter: drop-shadow(2px 2px 2px #000) 

.promo-box

    .promo-wrap
        margin-bottom: 1rem

    h4
        font-family: "League Spartan"
        font-size: 2rem

    


.img-wrap
    overflow: hidden
    img
        display: block
        @include transition (transform .35s ease-in-out)
        
           

.three-column-block

    .left-column
        img
            width: 50%

    h3
        @include transition (all .35s ease-in-out)
        margin-top: 1rem
        display: inline-block
        position: relative

        &:before
            content: ""
            position: absolute
            width: 100%
            height: 2px
            bottom: 0
            left: 0
            background: $color-tertiary
            visibility: hidden
            @include transition (all .35s ease-in-out)
            transform: scaleX(0)


    a
        display: block
        &:hover
            img
                transform: scale(1.1)
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden
                -webkit-backface-visibility: hidden

            h3 
                &:before
                    visibility: visible
                    transform: scaleX(1)


//Room Page
.gallery-wrapper
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))
    grid-gap: 1rem

.image-wrapper
    overflow: hidden 
    background: #000

    img
        @include transition (all .35s ease-in-out)
        display: block

    &:hover
        img 
            transform: scale(1.025)
            opacity: .8

//Room index page
.rooms
    display: grid
    gap: 1rem
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
    grid-auto-rows: 275px

    img
        display: block

.pricing-table
    caption
        font-family: 'League Gothic'
   
.room
    position: relative
    display: block
    padding-bottom: calc(50% - 1rem)

    .overlay
        @include transition (all .35s ease-in-out)
        background: rgba(0, 0, 0, 0)
        top: 0
        bottom: 0
        left: 0
        right: 0
        z-index: 1
        position: absolute


    &:hover 

        .overlay
            background: rgba(0,0,0,.5)

        .button
            @include transition (all .35s ease-in-out)
            background: $color-quinary

    .image
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0

    img
        display: block
            
    .inner-content
        position: absolute
        bottom: 2%
        left: 6%
        right: 0
        margin: 0 auto
        z-index: 2

    h2
        z-index: 1
        color: $color-initial
        margin-bottom: 1rem
        
@media (min-width: 769px)
    .hero
        .hero-overlay
            width: 70%

    .room
        grid-column: auto / span 2
        
        &.large
            grid-column: auto / span 2
            grid-row: auto / span 2

@media (max-width: 769px)
    .container
        &.info
            .row
                &.row-reverse
                    flex-direction: row-reverse
//Room Block
@media (max-width: 640px)
    .not-home
        .hero
            .slider-inner
                height: calc(35vh)
                min-height: 250px

    .container 
        &.info
            .row 
                .image
                    padding: 2rem
                    max-width: 90%
                    margin-bottom: 1rem
