{% load site_tags wagtailcore_tags %}

<ul class="sub-menu" role="menu">
  {% for child in menuitems_children %}
    <li><a href="{% pageurl child %}" role="menuitem">{{ child.title }}</a></li>
  {% endfor %}
</ul>