{% load site_tags wagtailcore_tags %}
{% get_site_root as site_root %}

<li><a href="{% pageurl site_root %}">{{ site_root.title }}</a></li>
{% for menuitem in menuitems %}
  <li class="{% if menuitem.active %}active{% endif %}{% if menuitem.show_dropdown %} has-children{% endif %}">
      {% if menuitem.show_dropdown %}
          <a href="{% pageurl menuitem %}" class="allow-toggle">{{ menuitem.title }} <span><a class="caret-custom dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a></span></a>
              {% top_menu_children parent=menuitem %}
              {# Used to display child menu items #}
      {% else %}
          <a href="{% pageurl menuitem %}" role="menuitem">{{ menuitem.title }}</a>
      {% endif %}
  </li>
{% endfor %}