{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container full-width hero has-background-tan no-padding">
    <!-- <div class="row row-center"> -->
        <div class="overlay"></div>
        {% if page.hero_heading or page.hero_body %}
        <div class="hero-overlay">
            <div class="logo">
                <!-- <a href="/"> -->
                    {% if page.hero_heading %}
                        <h2 class="has-color-tertiary text-6">{{ page.hero_heading }}</h2>
                    {% endif %}
                    {% if page.hero_body %}
                        {{ page.hero_body|richtext }}
                    {% endif %}
                    <!-- <p class="has-color-quaternary">At Centralia Square</p> -->
                <!-- </a> -->
            </div>
        </div>
        {% endif %}
        <div class="slider no-padding">
            {% for hero in page.hero_images.all %}
            {% image hero.image fill-2000x900 as the_image %}
            <div class="slider-inner" style="background: url('{{ the_image.url }}');"></div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container padding-8x mobile-padding-4x call-to-action">
    <div class="row row-center no-offset-tablet">
        <div class="column column-60 animate__animated hide fade">
            {% if page.heading %}<h1 class="text-6 has-color-quaternary">{{ page.heading }}</h1>{% endif %}
            {% if page.sub_heading %}<h4 class="text-4 has-color-quinary">{{ page.sub_heading }}</h4>{% endif %}
            {% if page.intro %}{{ page.intro|richtext }}{% endif %}
            {% if page.button %}
               {{ page.button }}
            {% endif %}
        </div>
        {% if page.promotions.all %}
        <div class="column column-offset-10 has-color-tertiary promo-box text-center animate__animated fade hide">
            {% for promo in page.promotions.all %}
            <div class="promo-wrap padding-2 has-background-primary ">
                <h3>{{ promo.title }}</h3>
                {{ promo.body|richtext }}
                {% for p in promo.link %} 
                    <a href="{{ p.value.page.url }}" class="button has-background-quaternary reverse">{{ p.value.text }}</a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>


{% for block in page.body %}
    {% include_block block %}
{% endfor %}

{% block extra_js %}
{% endblock extra_js %}

{% for block in page.rooms %}
    {% include_block block with counter=forloop.counter0 %}
{% endfor %}

{% endblock content %}

