{% load static site_tags compress wagtailuserbar wagtailimages_tags wagtailsettings_tags wagtailcore_tags %}
{% get_settings %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Prata&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
        {% compress css %}
            <link type="text/x-scss" href="{% static 'css/landing_page.css' %}" rel="stylesheet" media="screen">
        {% endcompress %}
    </head>

    <body>
        <h1>{{ page.title }}</h1>
        <div class="intro">
            {{ page.body|richtext }}
        </div>
        
        <div class="grid">
            {% for p in page.site_items.all %}
                <div class="grid-item">
                    
                    <a href="{{ p.link }}" class="image">
                        
                        <div class="img-wrap">
                            <div class="overlay"></div>
                            {% image p.image fill-800x600 %}
                        </div>
                        
                        <div class="grid-item-bottom">
                            <p class="button">{{ p.title }}</p>
                        </div>   
                    </a>
               
                </div>
            {% endfor %}
        </div>
        

        <footer class="container full-width has-background-primary">
 
        </footer>
    </body>
</html>


