{% load wagtailcore_tags wagtailimages_tags %}
<div class="column column-33 appear-right animate__animated hide">  
    <a href="{{ url }}">
        <div class="img-wrap">
            {% image value.image fill-600x1000 as desktop %}
            {% image value.image fill-600x600 as tablet %}
            {% image value.image fill-600x300 as mobile %}
            <picture>
                <source media="(max-width: 640px)" srcset="{{ mobile.url }}">
                <source media="(max-width: 1024px)" srcset="{{ tablet.url }}">
                <source media="(min-width: 1025px)" srcset="{{ desktop.url }}">
                <img src="{{ desktop.url }}" alt="Alt">
            </picture>
        </div>
        <h3 class="text-2 has-color-initial no-margin-bottom">{{ value.link.text }}</h3>
    </a>
</div>