{% load wagtailcore_tags wagtailimages_tags %}
{% image value.image fill-1200x1000 as desktop %}
{% image value.image fill-800x1000 as tablet %}
{% image value.image fill-800x400 as mobile %}

<div class="container info full-width {% if forloop.counter|divisibleby:2 %}stripe {% else %} no-stripe {% endif %} padding-8x mobile-padding-4x">
    <div class="row row-center mobile-column-reverse{% if forloop.counter|divisibleby:2 %} row-reverse no-padding-left no-padding-right{% endif %}">
        <div class="overlap column column-33 animate__animated hide{% if forloop.counter|divisibleby:2 %} appear-right has-background-initial has-color-quaternary{% else %} appear-left has-background-quaternary has-color-initial {% endif %} vert-center-wrap">
            <div>
            <h3 class="text-4">{{ value.title }}</h3>
            {{ value.body | richtext }}
            <a href="{{ value.link.page.url }}" class="button {% if forloop.counter|divisibleby:2 %}reverse {% else %} has-background-initial has-color-quaternary{% endif %}">{{ value.link.text }}</a>
            </div>
        </div>
        <div class="column column-60 image{% if forloop.counter|divisibleby:2 %} has-background-quaternary appear-left animate__animated hide{% else %} has-background-primary appear-right animate__animated hide{% endif %} padding-6 no-padding-x has-color-quaternary">
            <picture>
                <source media="(max-width: 640px)" srcset="{{ mobile.url }}">
                <source media="(max-width: 1024px)" srcset="{{ tablet.url }}">
                <source media="(min-width: 1025px)" srcset="{{ desktop.url }}">
                <img src="{{ desktop.url }}" alt="Alt">
            </picture>
            {#% image value.image fill-1200x1000 %#}
        </div>

    </div>
</div>
