{% load static site_tags compress wagtailuserbar wagtailsettings_tags wagtailcore_tags %}
{% get_settings %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link type="text/css" rel="stylesheet" href="{% static 'lightgallery/css/lightgallery.css' %}"/> 
        {% wagtail_site as current_site %}

        {% if current_site.id == 3 %}
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Prata&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
            {% compress css %}
                    <link type="text/x-scss" href="{% static 'sass/centraliasquare.sass' %}" rel="stylesheet" media="screen">
            {% endcompress %}
        {% else %}
            {% compress css %}
                <link type="text/x-scss" href="{% static 'sass/theannex.sass' %}" rel="stylesheet" media="screen">
            {% endcompress %}
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
        <!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/min/tiny-slider.helper.ie8.js"></script><![endif]-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/vintage_event_venues.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        
        {% wagtailuserbar %}
        <nav class="navbar has-background-primary">
            <div class="menu-overlay" id="overlay"></div>
            <div class="logo">
                <a href="/">
                    {% if current_site.site_name == 'Centralia Square' %}
                        <img src="{% static 'images/cslogo_grey.png' %}">
                    {% else %}
                        <h3 class="has-color-tertiary">The Annex</h3>
                        <p class="">At Centralia Square</p>
                    {% endif %}
                </a>
            </div>
            
            <div class="menu-wrap">
                <ul class="menu main">
                    {% get_site_root as site_root %}
                    {% top_menu parent=site_root calling_page=self %}
                </ul>

                {% social_media as social %}
                
                {% if social %}
                <div class="social">
                    <ul class="menu">
                        {% for s in social %}
                            <li><a href="{{ s.url }}"><i class="{{ s.icon }}"></i></a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            <div class="hamburger" id="hamburger">
                <div class="bar one"></div>
                <div class="bar two"></div>
                <div class="bar three"></div>
            </div>
        </nav>
        {% block content %}

        {% endblock %}

        <footer class="container full-width has-background-primary">
            <div class="row">
                <div class="column column-20 has-color-tertiary">
                    <h3>Connect</h3>
                    {% if social %}
                    <div class="social-footer has-color-tertiary">
                        <ul class="menu">
                            {% for s in social %}
                                <li><a href="{{ s.url }}"><i class="{{ s.icon }}"></i></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                <div class="column column-60">
                    {% get_site_root as site_root %}
                    <ul class="footer menu">
                    {% top_menu parent=site_root calling_page=self %}
                    </ul>
                    <!-- <ul class="menu">
                        <li><a>Pricing</a></li>
                        <li><a>Ammentities</a></li>
                        <li><a>About</a></li>
                        <li><a>Contact</a></li>
                    </ul> -->
                </div>
            </div>
            {# Global javascript #}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    
            <script src="{% static 'lightgallery/js/lightgallery.min.js' %}"></script>

            <!-- lightgallery plugins -->
            <!-- <script src="{#% static 'lightgallery/js/lg-thumbnail.min.js' %#}"></script> -->
            <!-- <script src="{#% static 'lightgallery/js/lg-fullscreen.min.js' %#}"></script> -->

            <!-- NOTE: prior to v2.2.1 tiny-slider.js need to be in <body> -->        
            <script type="text/javascript" src="{% static 'js/vintage_event_venues.js' %}"></script>
            <script src="https://kit.fontawesome.com/99e19844a8.js" crossorigin="anonymous"></script>
            <script>
                var slider = tns({
                    container: '.slider',
                    items: 1,
                    nav: false,
                    controls: false,
                    mouseDrag: true,
                    autoplay: true,
                    mode: 'gallery',
                    autoplayButtonOutput: false,
                    speed: 1500,
                    animateIn: 'fadeIn',
                    animateOut: 'fadeOut',
                    // responsive: {
                    //   640: {
                    //     edgePadding: 20,
                    //     gutter: 20,
                    //     items: 2
                    //   },
                    //   700: {
                    //     gutter: 30
                    //   },
                    //   900: {
                    //     items: 1
                    //   }
                    // }
                });
            </script>
            {% block extra_js %}
                {# Override this in templates to add extra javascript #}
            {% endblock %}
        </footer>
    </body>
</html>
