{% load wagtailcore_tags wagtailimages_tags %}
<div class="column {{ col }} appear-right animate__animated hide">  
    <a href="{{ url }}">
        <div class="img-wrap">
            {% if col == 'column-33' %}
                {% image value.image fill-600x1000 as desktop %}
                {% image value.image fill-600x200 as tablet %}
                {% image value.image fill-600x300 as mobile %}
            {% elif col == 'column-50' %}
                {% image value.image fill-800x800 as desktop %}
                {% image value.image fill-600x200 as tablet %}
                {% image value.image fill-600x300 as mobile %}
            {% endif %}
            <picture>
                <source media="(max-width: 640px)" srcset="{{ mobile.url }}">
                <source media="(max-width: 1024px)" srcset="{{ tablet.url }}">
                <source media="(min-width: 1025px)" srcset="{{ desktop.url }}">
                <img src="{{ desktop.url }}" alt="Alt">
            </picture>
        </div>
        <h3 class="text-4 has-color-tertiary no-margin-bottom">{{ value.link.text }}</h3>
    </a>
</div>