{% load wagtailcore_tags wagtailimages_tags site_tags %}
<div class="container three-column-block full-width has-background-quaternary padding-8x mobile-padding-4x">
    <div class="row text-center">
        <div class="column column-33 animate__animated hide fade left-column">
            <div class="vert-center-wrap">
                <div class="vert-center">
                    {% image value.icon width-400 %}
                    <h2 class="text-6">{{ value.title }}</h2>
                    {{ value.body|richtext }}
                </div>
            </div>
        </div>
        <div class="column right-column">
            <div class="row row-center flex-dir-col-tablet">
                {% cat_num value.category_list|length as col %}
                {% for block in value.category_list %}
                    {% include_block block with col=col %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>