{% load wagtailcore_tags wagtailimages_tags %}
<div class="container info full-width {% if forloop.counter|divisibleby:2 %}stripe {% else %} no-stripe {% endif %} padding-8x mobile-padding-4x no-padding-left no-padding-right">
    <div class="row row-center mobile-column-reverse{% if forloop.counter|divisibleby:2 %} row-reverse no-padding-left no-padding-right{% endif %}">
        <div class="column padding-6y text-center animate__animated fadeInUp hide"> 
            <div class="text-center">
                {#% image value.icon width-1601x2000 %#}
            </div>
            <h3 class="text-5">{{ value.title }}</h3>
            {{ value.body | richtext }}
            <a href="{{ value.link.page.url }}" class="button {% if forloop.counter|divisibleby:2 %} has-background-quaternary {% endif %}">{{ value.link.text }}</a>
        </div>
        <div class="column column-66 image{% if forloop.counter|divisibleby:2 %} has-background-quaternary no-padding-left appear-left animate__animated hide{% else %} has-background-primary no-padding-right appear-right animate__animated hide{% endif %} padding-6 has-color-quaternary">
            {% if current_site.id == 3 %}
                {% image value.image fill-1800x1800 %}
            {% else %}
                {% image value.image fill-1200x600 %}
            {% endif %}
        </div>
    </div>
</div>
