{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block body_class %}not-home{% endblock %}
{% block content %}
    <div class="container full-width hero has-background-tan no-padding">
        <!-- <div class="row row-center"> -->
            <div class="overlay"></div>
            {% if page.hero_heading or page.hero_body %}
            <div class="hero-overlay">
                <div class="logo">
                    <!-- <a href="/"> -->
                        {% if page.hero_heading %}
                            <h1 class="has-color-tertiary text-6">{{ page.hero_heading }}</h1>
                        {% endif %}
                        {% if page.hero_body %}
                            {{ page.hero_body|richtext }}
                        {% endif %}
                        <!-- <p class="has-color-quaternary">At Centralia Square</p> -->
                    <!-- </a> -->
                </div>
            </div>
            {% endif %}
            {% if page.hero_images.all|length > 1 %}
                <div class="slider no-padding">
                    {% for hero in page.hero_images.all %}
                    {% image hero.image fill-2000x900 as the_image %}
                        <div class="slider-inner" style="background: url('{{ the_image.url }}');"></div>
                    {% endfor %}
                </div>
            {% elif page.hero_images %}
                <div class="container no-padding full-width hero">
                    <div class="row no-padding">
                        <div class="column column-100 no-padding">
                            {% for hero in page.hero_images.all %}
                                {% image hero.image fill-2000x900 as the_image %}
                                <div class="slider-inner" style="background: url('{{ the_image.url }}');"></div>
                                {#% image hero.image fill-1800x600 %#}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="column column-100">
                <h1>{{ page.title }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="column">
                {% if page.body %}
                    {% for block in page.body %}
                        {% if block.block_type == 'paragraph' %}
                            <div class="richtext">
                                {{ block.value }}
                            </div>
                        {% else %}
                            {% include_block block %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}