{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="column column-60">
                <h1>{{ page.title }}</h1>
                {% if message %}
                    <div class="alert"><div id="close"><i class="far fa-times-circle"></i></div><p>{{ message }}</p></div>
                {% endif %}
                {{ page.intro|richtext }}
                <form action="{% pageurl page %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% comment %}
                    <div class="field">{{ form.wagtailcaptcha }}</div>
                    {% endcomment %}
                    <input type="submit">
                </form>
            </div>
            <div class="column">
                <div class="contact-wrap padding-2 has-background-primary has-color-initial">
                    <h3>Contact Information</h3>
                    {% if page.phone %}
                        <p>
                            <strong>Phone:</strong> {{ page.phone}}
                        </p>
                    {% endif %}
                    {% if page.address_line_one %}
                        <div class="address">
                            <p>
                                <strong>Address:</strong> {{ page.address_line_one }} <br> {{ page.address_line_two }}
                            </p>
                            
                        </div>
                    {% endif %}
                    {% if page.email %}
                        <p>
                            <strong>Email: </strong>  {{ page.email }}
                        </p>    
                    {% endif %}
                </div>
                {% if page.image %}
                    {% image page.image fill-400x300 %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}