{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}not-home room-index-page{% endblock %}
{% block content %}
{% if page.hero %}
<div class="hero no-padding">
    <!-- <div class="row"> -->
    {% image page.hero fill-2400x900 as hero_desktop %}
    {% image page.hero fill-1600x600 as hero_tablet %}
    {% image page.hero fill-800x400 as hero_mobile %}
    <picture>
        <source srcset="{{ hero_desktop.url }}" media="(min-width: 769px)"></source>
        <source srcset="{{ hero_mobile.url }}" media="(max-width: 768px)"></source>
        <img src="{{ hero_desktop.url }}" alt="{{ hero_desktop.alt }}">
    </picture>
    <div class="inner-content has-color-initial">
        <h1 class="text-8">{{ page.title }}</h1>
        {% if page.body %}
            {% for block in page.body %}
                {% if block.block_type == 'paragraph' %}
                    <div class="richtext">
                        {{ block.value }}
                    </div>
                {% else %}
                    {% include_block block %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <!-- </div> -->
</div>
{% endif %}

<div class="container">
    {% if not page.hero %}
        <h1 class="text-8">{{ page.title }}</h1>
        {% if page.body %}
            {% for block in page.body %}
                {% if block.block_type == 'paragraph' %}
                    <div class="richtext">
                        {{ block.value }}
                    </div>
                {% else %}
                    {% include_block block %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    <div class="rooms">

    {% for room in rooms %}
    {% if forloop.counter > 1 %}
        {% image room.hero fill-1200x600 as desktop %}
    {% else %}
        {% image room.hero fill-1200x900 as desktop %}
    {% endif %}
    {% image room.hero fill-400x300 as mobile %}
            <div class="room{% if forloop.counter == 1 or forloop.counter|divisibleby:5 %} large{% endif %}">
                <a href="{{ room.url }}">
                <div class="image" style="background: url('{{ desktop.url }}') 50% / cover;">
                    <div class="overlay"></div>
                    <div class="inner-content">
                        <h2 class="{% if forloop.counter > 1 %}text-4{% else %}text-6{% endif %}">{{ room.title }}</h2>
                        <div class="button reverse">Full Details</div>
                    </div>
                </div>
                </a>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock %}