{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block body_class %}not-home room-page{% endblock %}
{% block content %}
<div class="container no-padding full-width hero">
    <div class="row no-padding">
        <div class="column column-100 no-padding">
            {% image page.hero fill-1800x600 %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row no-offset-mobile">
        <div class="column column-50">
            <h1>{{ page.title }}</h1>
            {% if page.body %}
                {% for block in page.body %}
                    {% if block.block_type == 'paragraph' %}
                        <div class="richtext">
                            {{ block.value }}
                        </div>
                    {% else %}
                        {% include_block block %}
                    {% endif %}
                    
                {% endfor %}
            {% endif %}
        </div>
        <div class="column column-offset-5 amenities">
            {% if page.square_footage or page.capacity %}
                <h3 class="has-background-quinary has-color-initial">Room Details</h3>
                <table>
                    {% if page.square_footage %}
                    <tr>
                        <td><strong>Square Feet:</strong></td>
                        <td>{{ page.square_footage }}</td>
                    </tr>
                    {% endif %}
                    {% if page.capacity %}
                    <tr>
                        <td><strong>Capacity:</strong></td>
                        <td>{{ page.capacity }}</td>
                    </tr>
                    {% endif %}
                </table>
            {% endif %}
           
            {% if page.amenities.all %}
                <h3 class="has-background-quinary has-color-initial">Amenities</h3>
                <ul>
                {% for amenity in page.amenities.all %}
                    <li><strong>{{ amenity.title }}</strong>
                        {% if amenity.description %}
                            {{ amenity.description | richtext }}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    {% if page.pricing %}
        <div class="pricing-wrap padding-6">
            {% for block in page.pricing %}
                {% include_block block %}
            {% endfor %}
        </div>
    {% endif %}
</div>
<div class="container">
    <div class="row">
        <div class="column column-100">
            
            {% if page.photo_gallery.all %}
            <h3>Gallery</h3>
            <div class="gallery-wrapper" id="lightgallery">
            {% for photo in page.photo_gallery.all %}
                {% image photo.image fill-600x600 as lightbox %}
                {% image photo.image fill-1200x600 as lightbox_desktop %}
                <!-- <div class="column column-25"> -->

                    <a href="{{ lightbox_desktop.url }}">
                        <div class="image-wrapper">
                            <img src="{{ lightbox.url }}">
                        </div>
                    </a>
                    
                <!-- </div> -->
            {% endfor %}
            </div>
        {% endif %}
        </div>
    </div>

</div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        lightGallery(document.getElementById('lightgallery')); 
    </script>  
{% endblock %}