/* Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html{
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    padding: 2rem 0 4rem 0;
    margin: 0;
    font-family: roboto;
    color: #333;
}


.intro{
    width: 50%;
    margin: 0 auto 3rem auto;
}

h1 {
    margin-top: 0;
    margin-bottom: 2rem;
    color:#333;
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 200;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.button {
    padding: .75rem 1rem;
    border: 2px solid #505050;
    border-radius: .25rem;
    background: #505050;
    font-size: 1rem;
    font-weight: 400;
    /* letter-spacing: 1px; */
    display: inline-block;
    margin-top: 1.5rem;
    color: #ffffff;
    transition: background .35s ease-in-out, border .35s ease-in-out;
    /* filter: drop-shadow(2px 2px 2px #333); */
}

/* .button:hover{
    background: #505050;
    color: #fff;
} */

/* h2{
    display: inline-block;
} */

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0;
    gap: 1rem;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0,0,0,0);
    transition: all .35s ease-in-out;
}

.img-wrap{
    position: relative;
}

.image{
    position: relative;
    z-index: 2;
    display: block;
}


.image:hover .button{
    background: #cc5757;
    border-color: #cc5757;
    /* transform: translateY(5px); */
}

.image:hover .overlay{
    background: rgba(0,0,0,.25);
}

.grid-item {
    text-align: center;
    position: relative;
    /* overflow: hidden; */
    /* border-radius: 1rem; */
    /* background: #333; */
    /* padding-bottom: 1.5rem; */
    /* filter: drop-shadow(2px 2px 2px #000); */
}

.grid-item-bottom{
    /* position: absolute; */
    /* transform: translate(-50%, -25%); */
    /* width: 100%; */
    /* bottom: 2rem; */
    /* left: 50%; */
    /* top: 75%; */
    /* z-index: 2; */
}

@media (max-width: 768px){
    body{
        padding: 0 2rem;
        font-size: .9rem;  
    }

    .intro{
        max-width: 100%;
        width: 100%;
        margin-bottom: 2rem;
    }

    h1{
        font-size: 3rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 640px) {
    .grid{
        grid-template-columns: 1fr;
    }
   
}